VITE_API_BASE_URL=http://localhost:8787/api
PORT=8787
GOVERNANCE_DATA_MODE=mock
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_AUTHENTICATOR=externalbrowser
SNOWFLAKE_ROLE=PUBLIC
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=PPRM_PROD
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_HOST=
